@font-face {
    font-family: Helvetica Neue;
    src: url(fonts/HelveticaNeueCyr-Medium.ttf);
  }
body{
	background-color: #FFFFFF;
	margin: 0;
}
header{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 2.5rem 1rem;
	margin-bottom: 4rem;
}
.head-mobile{
    display: none;
}
.nav{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 80%;
	margin-block-start: 0.1rem;
}
.link{
	font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 19px;
color: #737373;
width: 130px;
height: 19px;
text-decoration: none;
cursor: pointer;
}
.vp{
	font-family: Helvetica Neue;
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 32px;
/* identical to box height */


color: #000000;
}
.vphide{
	font-family: Helvetica Neue;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;

color: #8B8B8B;

}
.vhide{
	display: none;
}
.link2{
	width: 184px;
height: 19px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 19px;
color: #0578FF;
text-decoration: none;
cursor: pointer;
}
h1{
	font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 56px;
text-align: center;
margin-bottom: 3rem;
color: #000000;
}
.reglink{
	width: 48px;
}
.subnav{
	display: flex;
	flex-direction: row;
}
.regnav{
	display: flex;
	flex-direction: row;
}
main{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.d1{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 5rem;
	margin-bottom: 10rem;
}
.d1head{
	padding: 0rem 15rem;
	margin-bottom: 5rem;
}
.d1headbut{
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.bluebut{
	width: 235px;
height: 41px;
left: 716px;
top: 540px;

background: #0578FF;
border-radius: 5px;

left: 736px;
top: 550px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
text-decoration: none;
    text-align: center;
    vertical-align: middle;
color: #FFFFFF;
margin-right: 3rem;
}
.rta12{
    text-align: start; margin-block-start: 0.5em;padding-right: 8rem;
}
.whitebut{
	width: 213px;
height: 41px;
left: 991px;
top: 540px;

border: 2px solid #0578FF;
box-sizing: border-box;
border-radius: 5px;
left: 1011px;
top: 550px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
/* identical to box height */
    text-align: center;
    vertical-align: middle;
text-decoration: none;
color: #0578FF;
}
.linkcont{
	    margin-block-start: 0.55rem;
    margin-block-end: 0em;
    text-decoration: none;
    cursor: pointer;
}
.i1{
    width: 65vw;
    height: auto;

}
.main-h1{
    padding: 0 7vw;
}
.d1video{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.d2{
	display: flex;
	flex-direction: column;
	align-items: center;
	    margin-bottom: 8rem;
}
h2{
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 46px;
    text-align: center;
    color: #000000;
}
.classic{
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 29px;
    text-align: center;
    color: #262626;
    margin-block-start: 0em;
}
.d2imgcolumn{
	display: flex;
	flex-direction: column;
	align-items: center;
	    margin-right: 2rem;
	        padding-right: 3rem;
}
.d2head{
	    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 9rem;
        text-align: center;
        margin-bottom: 5rem;
}
.d2img{
	    /* padding: 1rem 0rem 0rem 5rem; */
    padding-left: 6rem;
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    justify-content: center;
    align-items: center;
}
.d2imgrow{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 2rem;
}
.back-back{
    width: 100%; width: 100%;
        position: absolute;
        top: -172px;
        left: 0;
        z-index: -10000;
}
.classichell{



font-family: Helvetica Neue;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 21px;

color: #8B8B8B;
}
h3{
	font-family: Helvetica Neue;
font-style: normal;
font-weight: bold;
font-size: 19px;
line-height: 29px;

color: #000000;
}
.d3{
	display: flex;
	flex-direction: row;
	    align-items: center;
margin-bottom: 4rem;
}
.vlistcont {
    display: flex;
    flex-direction: row;
        align-items: center;
}
.d3left{
	width: 58%;
    height: 29rem;
	background-color: white;
}
.d3right {
    padding-left: 4rem;
    width: 30%;
    padding-right: 10rem;
}
.svhcont{
	    margin-right: 0.5rem;
}
.blue2{
display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: hidden;
    width: 80%;
    position: relative;
}
.prerta{
	margin-right: 1rem;
    white-space: nowrap;
}
.blue{
	font-family: Helvetica Neue;
font-style: normal;
font-weight: 500;
line-height: 22px;
/* identical to box height */
text-align: center;

color: #4A9DFF;
}
.ats{
	width: 50%;
    height: 100%;
    cursor: pointer;
}
.polupredel{
	display: flex;
    flex-direction: row;
    justify-content: space-around;
        left: 67px;
        position: relative;
}
.predel5{
	cursor: pointer;
}
.reglink2{
	width: unset;
}
.d4{
	width: 100%;
	background-color: white;
margin-bottom: 1rem;
}
.d5{
	display: flex;
	flex-direction: column;
	align-items: center;
    margin-bottom: 6rem;
}
.uslugi{
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	    margin-bottom: 7rem;
}
.predel4 {
    margin-right: 1rem;
    cursor: pointer;
}
.d2imgitem {
    margin-bottom: 5rem;
}
.us1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18rem;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    text-align: center;
    padding: 0 1rem;
    position: relative;
}
.prepre{
	    width: 75%;
	height: 2px;
left: 285px;
top: 5305.49px;

background: radial-gradient(50% 50% at 50% 50%, #D6D6D6 80.73%, rgba(243, 243, 243, 0) 100%);

}
.svgcont2 {
    margin-right: 0.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 2rem;
        padding-top: 0.1rem;
}
.d5head {
    padding: 0 18rem;
    margin-bottom: 2rem;
    align-items: center;
    display: flex;
    flex-direction: column;    
}
.d5headtxt{
	font-family: Helvetica Neue;
font-style: normal;
font-weight: 500;
font-size: 38px;
line-height: 46px;
text-align: center;
margin-block-start: 1rem;
color: #000000;
}
h4{
	font-family: Helvetica Neue;
font-style: normal;
font-weight: 500;
line-height: 29px;
text-align: center;
margin-block-end: 1.53em;
color: #000000;

}
.circle{
	background: #4A9DFF;
border-radius: 48px;
margin-left: 3rem;
    margin-bottom: 2rem;
    font-size: 17px;
}
.predel1{
	    margin-block-start: 1.33em;
    margin-block-end: 0.33em;
    font-size: 21px;
}
.uli{
	display: center;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
}
.preprepre {
    background: linear-gradient(90deg, #80BAFF 0%, #0A7AFF 100%);
    border-radius: 5px;
    height: 7px;
    width: 5rem;
}
.urow{
padding-left: 1rem;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.d6{
	display: flex;
	flex-direction: row;
	    margin-bottom: 7rem;
}
.theme{
	font-family: Helvetica Neue;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
margin-block-end: 1em;
margin-block-start: 1em;

text-align: start;

color: #8B8B8B;

}
.yyy{
  margin-right: 8rem; 
}
.d7{
	padding: 0 3rem;
	    margin-bottom: 5rem;

}
.ptheme{
	font-family: Helvetica Neue;
font-style: normal;
font-weight: 500;
line-height: 27px;
/* identical to box height */


color: #000000;
}
.d6left {
        width: 35%;
    padding-left: 6rem;
    
}
.up{
    font-family: Helvetica Neue;
    font-size: 14px;
    line-height: 21px;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    text-align: center;
    color: #000000;
	}
.d6right {
    width: 50%;
}
.qp{
	font-family: Helvetica Neue;
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 27px;
/* identical to box height */


color: #000000;
}
.q1{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.divimg{
	background: radial-gradient(100% 1406.25% at 0% 50%, #7CB8FF 0%, #005DCA 100%);
box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
border-radius: 20px;
display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 15rem;
    padding: 0 3rem;
}
.predel3{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.imgph{
	font-family: Helvetica Neue;
font-style: normal;
font-weight: 500;
font-size: 31px;
line-height: 46px;
    margin-block-end: 0.3em;
        margin-block-start: 0em;
color: #FFFFFF;
}
.imgp{
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    line-height: 23px;
    color: #FFFFFF;
    margin-block-start: 0em;
}
.imgbut1{
	background: #FFFFFF;
border-radius: 5px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
line-height: 21px;
/* identical to box height */
text-decoration: none;
    margin-right: 2rem;
color: #4A9DFF;
    padding: 0.6rem 1rem;
    text-align: center;
    vertical-align: middle;
}
.imgbut2{
	border: 2px solid #FFFFFF;
box-sizing: border-box;
border-radius: 5px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
line-height: 21px;
/* identical to box height */
text-decoration: none;
    padding: 0.6rem 1rem;
    text-align: center;
    vertical-align: middle;
color: #FFFFFF;
}
.linkcont3{
	    margin-block-start: 0rem;
    margin-block-end: 0em;
    text-decoration: none;
}
footer{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 5rem;
	padding: 0 2rem;
}
.hf{
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
}
.fnav{
	display: flex;
	flex-direction: column;
}
.backk{
width: 100%;
    top: -172px;
    left: 0;
    z-index: -200000;
}
a.link.predel6 {
    margin-bottom: 0.7rem;
    font-size: 12px;
    line-height: 19px;
}
.predel7{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    color: #494949;
}
.podpiska {
    margin-bottom: 1rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 1.5rem;
}
.predel10 {
width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.predel9{
	width: 13%;
	background: #4A9DFF;
	border-radius: 0px 4px 4px 0px;
	cursor: pointer;
}
.predel11{
	width: 100%;
    height: 33px;
    background: url(img/i2.png);
    background-repeat: no-repeat;
    background-position: center;
}
#unpr_rta{
    width: 100%;
    height: 83%;
    outline: none;
    font-family: Helvetica Neue;
    color: #8B8B8B;
    padding-left: 1rem;
}
a.soclink {
    margin-right: 1rem;
}
.socials {
    margin-top: 2rem;
}
.predel13{
	font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: 19px;
font-size: 13px;

color: #4A9DFF;
}
.allright {
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #8B8B8B;
	margin-bottom: 1rem;
}
.d3right-mob{
    display: none;
}
.hr {
	background: linear-gradient(90deg, #F5F5F5 0%, #E5E5E5 52.08%, #F5F5F5 100%);
	height: 1px;
	width: 30rem;
	width: 21rem;
}
#care2{
	font-family: Helvetica Neue;
    text-align: center;
    width: 100.02893%;
    font-size: 14px;
    line-height: 22px;
    background: rgba(255,0,40,0.5);
    color: rgba(0,0,0,0.8);
    margin-top: 1px;
        width: 70.8%;
    /*display: none;*/
}
.ptextq{
	font-family: Helvetica Neue;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 21px;
color: #8B8B8B;
}
.predel8{
	width: 100%;
height: 2px;
left: 836px;
top: 5745.49px;

background: #F4F4F4;
}
.predel88 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imgfooter{
    display: none;
}
@media (max-width: 768px) {
.head-mobile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   padding: 1.5rem 0.8rem 0rem;
}
.main-h1{
    padding: unset;
}
.d1headbut {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
}
.bluebut {
    width: 100%;
    height: 34px;
    left: 716px;
    top: 540px;
    background: #0578FF;
    border-radius: 5px;
    left: 736px;
    top: 550px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 14px;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    color: #FFFFFF;
    margin-right: 0rem;
    margin-bottom: 1rem;
}
.whitebut {
    width: 100%;
    line-height: 14px;
    height: 34px;
}
.d1video {
    width: unset;
    padding: 0px 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.uslugi {
    width: 100%;
    position: relative;
    overflow-x: scroll;
    padding: 2rem 0rem;
}
.i1 {
    width: 100%;
    height: 100%;
}
.mobile-del{
    display: none;
}
.d2imgcolumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: unset;
    padding-right: unset;
    width: 70%;
}
.d2img {
    padding: unset;
    padding-left: unset;
    display: flex;
    flex-direction: column;
    width: unset;
    justify-content: center;
    align-items: center;
}
.d3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
}
.d3left {
    width: 100%;
    height: unset;
    background-color: white;
}
.d2imgitem {
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
}
h3 {
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: 500;
    margin-block-end: 0em;
    font-size: 16px;
    line-height: 20px;
}
p.classichell {
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #8B8B8B;
}
.d2head {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3rem;
    text-align: center;
    margin-bottom: 5rem;
}
svg.strtttr {
    width: 50px;
}
.d3right{
    display: none;
}
.d3right-mob{
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
}
.d4{
    display: none;
}
.us1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 213%; */
    width: 16rem;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    text-align: center;
    padding: 0 2rem;
    position: relative;
    left: 35%;
}
.d5head {
    padding: 0 5rem;
    margin-bottom: 4rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}
h2.d5headtxt {
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
}
.yyy{
    margin-right: 1rem; 
}
.circle {
    background: #4A9DFF;
    border-radius: 48px;
    margin-left: unset;
    margin-bottom: 2rem;
    font-size: 17px;
    width: 80%;
}
body{
    overflow-x: hidden;
}
.d6left {
    width: unset;
    padding-left: unset;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.d6 {
    display: flex;
    flex-direction: column;
    margin-bottom: 7rem;
    padding: 0 2rem;
    align-items: flex-start;
}
.predel2 {
    margin-right: 1rem;
}
.d6right {
    width: unset;
}
.d7 {
    padding: unset;
    margin-bottom: 5rem;
}
.divimg {
    background: radial-gradient(100% 1406.25% at 0% 50%, #7CB8FF 0%, #005DCA 100%);
    box-shadow: unset;
    border-radius: unset;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
    padding: 1rem 2rem;
    width: unset;
}
.divimgp {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.predel3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imgbut1 {
    background: #FFFFFF;
    border-radius: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    text-decoration: none;
    margin-right: unset;
    color: #4A9DFF;
    padding: 0.6rem 1rem;
    text-align: center;
    vertical-align: middle;
    width: unset;
    margin-bottom: 0.5rem;
}
.imgbut2 {
    width: 100%;
}
.ftrstart{
    border-top: 1px solid #F4F4F4;
    border-bottom: 1px solid #F4F4F4;
}
.fnav{
    display: none;
}
.frtarty{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
h3.hf {
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-weight: 600;
    font-size: 16px;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: unset;
    padding: 0 1rem;
}
h4.predel1 {
    width: 16rem;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #000000;
}
p.qp {
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    padding-right: 1rem;
}
p.blue {
    font-size: 14px;
    line-height: 17px;
}
.imgfooter{
    display: unset;
}
.predel10 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#unpr_rta {
    width: 100%;
    height: 27px;
    outline: none;
    font-family: Helvetica Neue;
    color: #8B8B8B;
    padding-left: 1rem;
}
.socials {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2rem;
}
.back-back{
    top: -410px;
}
header{
    display: none;
}
.full-nav-mob {
    display: none;
}
.mob-nav-back {
    display: none;
}
.d1head {
    padding: 0rem 4rem;
    margin-bottom: 5rem;
}
.d1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 10rem;
}
.mobile-h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    color: #000000;
    margin-bottom: 3rem;
}
.rta12{
    text-align: start;
    margin-block-start: 0.5em;
    padding-right: 5rem;
}

}