.ph1{
	font-family: Helvetica Neue;
font-size: 38px;
line-height: 46px;

color: #000000;

}
.classic2 {
    font-family: Helvetica Neue;
    font-size: 13px;
    line-height: 22px;
    color: #8B8B8B;
    margin-block-start: 2%;
    margin-block-end: 2%;
}
.btn {
background: #4A9DFF;
    border-radius: 44px;
    color: white;
    width: 18%;
    height: 2rem;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Helvetica Neue;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    text-decoration: none;
    justify-content: center;
}
.inpr {
    border: 1px solid #8B8B8B;
    box-sizing: border-box;
    border-radius: 40px;
    width: 100%;
    height: 3.3vh;
    font-family: Helvetica Neue;
    font-size: 16px;
    line-height: 21px;
    color: #8B8B8B;
    padding-left: 1rem;
    outline: -webkit-focus-ring-color auto 0px;
}
.m2{
	align-items: center;
}
.rta1 {
    width: 28%;
        margin-bottom: 0.3rem;
}
.rta2 {
width: 28%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.2rem;
}
.pfrta {
    margin-block-start: 0em;
    margin-block-end: 0em;
}
footer.rta3 {
    position: fixed;
    bottom: 0;
    width: 100vw;
    margin-bottom: 0rem;
    padding: 0px 0rem;
}
.rta4{
	    font-size: 13px;
    margin-block-end: 0.5em;
    width: unset;
}
.rta5{
	margin-block-start: 0rem;
    margin-block-end: 0.2em;
    text-decoration: none;
}
.pfrta {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 28px;
    color: #8B8B8B;
    margin-bottom: 1rem;
}
.back2 {
    width: 100%;
    position: fixed;
    top: -165px;
    left: 0;
    z-index: -100000000;
}
.rta7 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.rta6 {
    width: 48%;
}
#care {
    font-family: Helvetica Neue;
    margin-top: 1rem;
    text-align: center;
    width: 100vw;
    font-size: 14px;
    line-height: 22px;
    background: rgba(255,0,40,0.5);
    color: rgba(0,0,0,0.8);
    display: none;
}