.phpp{
	background: #FFFFFF;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
}
.start1 {
    display: flex;
    flex-direction: column;
    width: 37%;
    /* height: 100%; */
    justify-content: space-between;
}
.start2 {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ins1.phpp {
    height: 100%;
    padding: 1rem 1rem;
}
.ins2.phpp {
    height: 56%;
}
.m3{
	    height: 57vh;
	        padding: 0 8vw;
	flex-direction: row;
	justify-content: space-between;
    position: relative;
}
.imgprof {
    margin-right: 2rem;
}
.headprof {
    display: flex;
    flex-direction: row;
    margin: 1rem;
}
.nameprof {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 23px;
    color: #000000;
    margin-block-start: 0.5em;
    margin-block-end: 1em;
}
.dobreu{
	width: 92%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1.5rem;
    margin-top: 1rem;
}
.start45{
    height: 45%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
}
.start46{
    height: 45%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
}
.form_action{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;
}
.svg-near-p-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-block-end: 1.3em;
}
.back-light{
    position: absolute;
    top: -3rem;
    left: 0;
    width: 100%;
    height: 120%;
    background: rgba(255,255,255,0.9);
}
.start-form{
    padding: 3% 1rem;
    width: 76%;
    height: 61%;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 101;
}
.st-hr{
    background: #C4C4C4;
    width: 2px;
    height: 100%;
}
.svgtxt {
    position: absolute;
    left: 5vw;
    top: 9vh;
}
.svg-near {
    height: 85%;
}
.svg-near {
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.svg-near-p {
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    white-space: nowrap;
}
.svg-near-a-cont {
    background: #4A9DFF;
    border-radius: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.8rem;
    margin-block-end: 3rem;
    cursor: pointer;
        width: 10rem;
    padding: 0.2rem 0rem;
}
a.svg-near-a {
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}
p.svg-near-dinp {
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin-block-start: 0em;
    color: #4A9DFF;
}
.svg-near-dinp {
    width: 100%;
    overflow: hidden;
    position: relative;
}
.intu {
    white-space: nowrap;
    position: relative;
    left: 1.5rem;
}
.intu-span{
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin-block-start: 0em;
    color: #4A9DFF;
    margin-right: 1rem;
}
.motion-cont{
    position: absolute;
    top: -64px;
    left: 0px;
    width: 100%;
    height: 217px;
    z-index: 100;
    box-shadow: inset 0px 0px 29px 34px white;
    display: flex;
}
.summ-f-cont {
    display: flex;
}
.white-spacing-div{
    width: 50%;
    height: 100%;
    cursor: pointer;
}
.st1 {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    position: relative;
}
.summ-f-cont {
    display: flex;
    position: absolute;
    bottom: 0;
}
.p-f-start{
    font-family: Helvetica Neue;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
/* identical to box height */

text-align: center;

color: #000000;
}
.p-f-link{
    font-family: Helvetica Neue;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
/* identical to box height */

text-align: center;

color: #4A9DFF;
}
.xx{
        font-family: Helvetica Neue;
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 24px;
/* identical to box height */

text-align: center;

color: #4A9DFF;
}
.svgsvgsvg{
        height: 67%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.svgsvg4{
        height: 14rem;
}
div#blue4 {
    display: flex;
    flex-direction: column;
        position: relative;
    top: -1rem;
}
.img-motion-cont {
    position: relative;
    height: 12rem;
    overflow: hidden;
}
.intu-img {
    margin-bottom: 2rem;
}
.motion-cont2 {
    position: absolute;
    top: 0;
    left: -49px;
    width: 228px;
    height: 100%;
    z-index: 100;
    box-shadow: inset 0px 0px 29px 34px white;
    display: flex;
        flex-direction: column;
}
.white-spacing-div2{
    width: 100%;
    height: 50%;
    cursor: pointer;

}
.st2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
        height: 100%;
}
.pay{
    background: #FFFFFF;
border: 2px solid #4A9DFF;
border-radius: 32px;
font-family: Helvetica Neue;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
/* identical to box height */

text-align: center;
padding: 0.2rem 2rem;
color: #4A9DFF;
cursor: pointer;
transition: background 300ms ease-out;
}
.pay:hover{
    color: #FFFFFF;
    background: #4A9DFF;
    transition: background 300ms ease-out;
}